[init]
	defaultBranch = main
[user]
	email = 75579636+egor-denysenko@users.noreply.github.com
	name = egor-denysenko
	signingkey = 9FDBB6F153497936
[core]
	editor = vim
[commit]
	gpgsign = true
[alias]
	staash = stash --all
	bb = !~/scripts/betterGitBranch.sh
	wdif = diff --word-diff
[rerere]
	enable = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = ~/.dotfiles
