{{- $machine := "" -}}
{{- if hasKey . "machine" -}}
{{-   $machine = .machine -}}
{{- else -}}
{{-   $machine = promptStringOnce . "machine" "machine type (personal/work)" -}}
{{- end -}}

{{- $theme := "" -}}
{{- if hasKey . "theme" -}}
{{-   $theme = .theme -}}
{{- else -}}
{{-   $theme = promptStringOnce . "theme" "theme (dark/light)" "dark" -}}
{{- end -}}

[data]
machine = {{ $machine | quote }}
theme = {{ $theme | quote }}
