{{- $machine := "" -}}
{{- if hasKey . "machine" -}}
{{-   $machine = .machine -}}
{{- else -}}
{{-   $machine = promptStringOnce . "machine" "machine type (personal/work)" -}}
{{- end -}}

{{- $theme := "" -}}
{{- if hasKey . "theme" -}}
{{-   $theme = .theme -}}
{{- else -}}
{{-   $theme = promptStringOnce . "theme" "theme (dark/light)" "dark" -}}
{{- end -}}

{{- $gui := false -}}
{{- if hasKey . "gui" -}}
{{-   $gui = .gui -}}
{{- else -}}
{{-   $gui = promptBoolOnce . "gui" "graphical session? deploys sway/wezterm/ghostty configs" true -}}
{{- end -}}

[chezmoi]
editor = "nvim"

[diff]
command = "nvim"
args = ["-d"]

[data]
machine = {{ $machine | quote }}
theme = {{ $theme | quote }}
gui = {{ $gui }}
