[init]
	defaultBranch = main
[user]
{{- if eq .machine "personal" }}
	email = 75579636+egor-denysenko@users.noreply.github.com
	name = egor-denysenko
	signingkey = 2A132DB1C8C3D189
{{- else }}
	name =
	email =
	signingKey =
{{- end }}
[core]
	editor = nvim
	sparseCheckout = true
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = {{ if eq .machine "personal" }}true{{ else }}false{{ end }}
[push]
	autoSetupRemote = true
	default = current
[diff]
	tool = delta
[merge]
	tool = nvim
[mergetool]
	prompt = false
[delta]
	line-numbers = true
	navigate = true
	dark = true
[alias]
	staash = stash --all
	bb = !~/scripts/betterGitBranch.sh
	wdif = diff --word-diff
	# Usage: git resign HASH
	resign = rebase --exec 'GIT_COMMITTER_DATE=\"$(git log -n 1 --format=%aD)\" git commit --amend --no-edit -n -S' -i
	resign-log = !git rebase --exec 'GIT_COMMITTER_DATE=\"$(git log -n 1 --format=%aD)\" git commit --amend --no-edit -n -S' -i $1 && git log --pretty=\"fuller\" $1..HEAD
[rerere]
	enable = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = ~/.local/share/chezmoi
[include]
	path = ~/.gitconfig_local
