return {
  {
    'felipefdl/warm-burnout',
    lazy = false,
    priority = 1000,
    config = function(plugin)
      vim.opt.rtp:append(plugin.dir .. '/nvim')
      vim.cmd.colorscheme 'warm-burnout-{{ .theme | default "dark" }}'
    end,
  },
}
