layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                format_left   "{mode} #[fg=#b4a89c,bold]{session} {tabs}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "false"
                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=#ff8f40,fg=#1a1510,bold] NORMAL #[fg=#ff8f40,bg=#1a1510]"
                mode_locked        "#[bg=#b4a89c,fg=#1a1510,bold] LOCKED #[fg=#b4a89c,bg=#1a1510]"
                mode_resize        "#[bg=#fd7050,fg=#1a1510,bold] RESIZE #[fg=#fd7050,bg=#1a1510]"
                mode_pane          "#[bg=#4fafff,fg=#1a1510,bold] PANE #[fg=#4fafff,bg=#1a1510]"
                mode_tab           "#[bg=#70bf56,fg=#1a1510,bold] TAB #[fg=#70bf56,bg=#1a1510]"
                mode_scroll        "#[bg=#d0a1ff,fg=#1a1510,bold] SCROLL #[fg=#d0a1ff,bg=#1a1510]"
                mode_session       "#[bg=#93e2c8,fg=#1a1510,bold] SESSION #[fg=#93e2c8,bg=#1a1510]"
                mode_search        "#[bg=#fdb04c,fg=#1a1510,bold] SEARCH #[fg=#fdb04c,bg=#1a1510]"

                tab_normal              "#[fg=#b4a89c]  {index}: {name} "
                tab_normal_fullscreen   "#[fg=#b4a89c]  {index}: {name} [Z] "
                tab_normal_sync         "#[fg=#b4a89c]  {index}: {name} [S] "
                tab_active              "#[fg=#ff8f40,bold]  {index}: {name} "
                tab_active_fullscreen   "#[fg=#ff8f40,bold]  {index}: {name} [Z] "
                tab_active_sync         "#[fg=#ff8f40,bold]  {index}: {name} [S] "

                datetime          "#[fg=#b4a89c,bold]{format} "
                datetime_format   "%H:%M"
                datetime_timezone "local"
            }
        }
    }
    tab
}
